@import "../../../../styles/index.scss";

.wrapper {
  width: 80%;
  margin: 0 auto;
//   @include flex(0);
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 20px;
  z-index: 999;
  @include responsive("mobile") {
    width: 100%;
    margin: 0 auto;

    @include flex(0);
    position: fixed;
    top: 20px;
    z-index: 999;
    padding: 0px 0px;
  }
}

.active {
  a {
    color: #ffcda8 !important;
    text-decoration: none;
  }
}

.new {
  color: green;
  font-size: 35px;
}

.navbar_bg {
  background: #4E4E4E12;
  backdrop-filter: blur(12.5px);
  display: none;
  text-align: center;
  @include flex(0);
  position: fixed;
  top: 35px;

  z-index: 999;
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  .logo_image {
   .white_logo{
    display: block;
   }

   .black_logo{
    display: none;

   }
  }

  @include responsive("tablet") {
    // padding: 30px 40px 30px 40px;
    text-align: center;
    @include flex(0);
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
  }

  @include responsive("mobile") {
    .logo_image {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      
      a {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .logo_img {
          width: 80% !important;
        }
      }

      .white_logo{
        display: block;
       }
    
       .black_logo{
        display: none;
    
       }
    }
  }

  @include responsive("mobile") {
    // width: 100%;
    background: #42414145;
    color: #000;
    padding: 15px 20px;
    text-align: center;
    @include flex(0);
    position: fixed;
  //   left: 50%;
  // transform: translate(-50%, -50%);
    top: 10px;
    // left: 0px;
    border-radius: 0px;
    border-radius: 0px;
  }

  .Navbar_List {
    display: block;

    @include responsive("mobile") {
      display: none;
    }
  }

  button {
    background-color: transparent;
    color: #fff;

    border: 2px solid #0c356a;
    padding: 6px 30px;
    border-radius: 8px;
    cursor: pointer;

    // font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;

    &:hover {
      background-color: #5f5aec;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;

    @include responsive("tablet") {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 40px;

      span {
        width: 100%;
        display: none;
      }
    }

    @include responsive("mobile") {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 60px;

      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100vh;
      background: fixed;
      background-color: #fffaf4;
      // background-color: #132E3D;
      padding: 20px 30px 10px;
      background-attachment: fixed;
      position: fixed;
      transition: 0.7s;
      z-index: 999;

      span {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .exx {
          display: block;
        }
      }

      li {
        padding-bottom: 2px;
        color: #000;
        font-family: Open Sans;
        font-weight: 400;
        font-size: 16px;
      }

      a {
        color: #000;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        transition: transform 0.3s ease;

        &:hover {
          color: #0a1920;
          transform: scale(1.1);
        }
      }
    }
  }

  li {
    padding-bottom: 2px;
    color: #fff;
    cursor: pointer;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    


    // .active {
    //   background-color: green;
    //   color: #FFCDA8;
    // }
  }

  a {
    // color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: transform 0.3s ease;
    &:hover {
      color: #ffcda8;
      transform: scale(1.1);
    }
  }

  #Hamburger {
    display: none;

    @include responsive("mobile") {
      display: block;
      // color: #fff;
      color: #000;
    }
  }
}

.harm {
  font-size: 20px;
}

.navbar {
  text-align: center;
  @include flex(0);
  z-index: 999;
  width: 100%;
//   top: 30px;
  position: absolute;
  margin: 0 auto;
  border-radius: 16px;
  max-width: 1370px;
//   left: 50%;
//   transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  background: #4E4E4E12;
  backdrop-filter: blur(12.5px);

  @include responsive("tablet") {
    // padding: 20px 40px 20px 40px;
    padding: 10px 30px;

    text-align: center;
    @include flex(0);
    position: fixed;
    top: 20px;
    left: 50px;
    z-index: 999;
    width: 90%;
  }

  @include responsive("mobile") {
    width: 100%;
    .logo_image {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      a {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .logo_img {
          width: 60% ;
          // height: unset !important;
        }
      }

      .white_logo{
        display: block;
        // display: flex;
        justify-content: flex-start;
        align-items: flex-start;
       }
    
       .black_logo{
        display: none;
    
       }
    }
  }

  @include responsive("mobile") {
    background: #05050533;
    // padding: 15px 20px;
    text-align: center;
    @include flex(0);
    width: 100%;
    top: 0px;
    border-radius: 0px;
    border-radius: 100px;
    
  }

  .Navbar_List {
    display: block;

    @include responsive("mobile") {
      display: none;
    }
  }

  button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #0c356a;
    padding: 6px 30px;
    border-radius: 8px;
    cursor: pointer;

    // font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;

    &:hover {
      background-color: #5f5aec;
    }
  }

  ul {
    // width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;

    @include responsive("mobile") {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;

      position: absolute;
      top: -23px;
      right: 0px;
      width: 100%;
      height: 100vh;
      background: fixed;
      background-color: #fffaf4;
      // background-color: #132E3D;
      padding: 20px 30px 10px;
      background-attachment: fixed;
      position: fixed;
      transition: 0.7s;
      z-index: 999;

      span {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .exx {
          display: block;
        }
      }

      li {
        // border-bottom: 2px solid $primary-color;
        padding-bottom: 2px;
      }

      a {
        color: #132e3d;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        transition: transform 0.3s ease;

        &:hover {
          color: #132e3d;
          transform: scale(1.1);
        }
      }
    }
  }

  li {
    // border-bottom: 2px solid $primary-color;
    padding-bottom: 2px;
    color: #1e1e1e;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    transition: transform 0.3s ease;
    cursor: pointer;

    @include responsive("mobile") {
      color: #000;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    transition: transform 0.3s ease;

    &:hover {
      color: #ffcda8;
      transform: scale(1.1);
    }
  }

  #Hamburger {
    display: none;

    @include responsive("mobile") {
      display: block;
      color: #fff;
    }
  }
}

.harm {
  // color: red;
  font-size: 20px;
}

.exx {
  display: none;
}

.black_logo{
  display: block;
}

.white_logo{
    display: none;
    // display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   }

.container_search {
  display: flex;
  align-items: center;
  background-color: transparent; 
  padding: 8px;

  .searchBox {
    display: flex;
    align-items: center;
    border: 1px solid #898787;
    border-radius: 8px;
    padding: 6px 10px;
    background-color: transparent;
    margin-right: 10px;
  
    input {
      background: transparent;
      border: none;
      outline: none;
      font-size: 14px;
      width: 120px;
      font-family: Poppins;
      font-weight: 400;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #fff;
      
  
      &::placeholder{
        color: #989898;
      }
    }
  
    .searchIcon {
      margin-left: 8px;
    }
  }

  .cartIcon {
    cursor: pointer;
  }


  @include responsive("mobile"){
    display: none;
  }
}
