@import "./mixins";
@import "./variables";


@font-face {
  font-family: Poppins;
  src: url("../../public/assets/fonts/poppings/Poppins-Regular.ttf");
}

@font-face {
  font-family: PoppinsSemi;
  src: url("../../public/assets/fonts/poppings/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: PoppinsBold;
  src: url("../../public/assets/fonts/poppings/Poppins-Bold.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../public/assets/fonts/montserat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontserratBold;
  src: url("../../public/assets/fonts/montserat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: MontserratExtra;
  src: url("../../public/assets/fonts/montserat/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: Roboto Serif;
  src: url("../../public/assets/fonts/roboto/RobotoSerif-Regular.ttf");
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: transparent;
  width: 100%;
  // max-width: 1440px;
  background: #f9f9f9;
  font-weight: 400;
  margin: 0 auto;
}

