

.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0px 0px;
    background-color: #F3F3F3;

    .container{
        width: 92%;
        margin: 0 auto;
    }
   
}